<div fg-checkboxlist fg-field-input ng-model="form.data[field.schema.name]" name="{{ field.schema.name }}">
  <div class="c-inputs-stacked" ng-repeat="option in field.schema.options">
    <label title="{{ field.schema.tooltip }}" class="c-input c-checkbox">
      <input type="checkbox"
             tabindex="{{ tabIndex }}"
             value="{{ option.value }}"
             ng-model="form.data[field.schema.name][option.value]">
      <span class="c-indicator"></span>
      {{option.text || option.value}}
    </label>
  </div>
</div>
