<div class="c-inputs-stacked" ng-repeat="option in field.schema.options">
  <label title="{{ field.schema.tooltip }}" class="c-input c-radio">
    <input fg-field-input
           type="radio"
           name="{{ field.schema.name }}[]"
           tabindex="{{ tabIndex }}"
           value="{{ option.value }}"
           ng-model="form.data[field.schema.name]"
           ng-required="field.schema.validation.required">
    <span class="c-indicator">{{option.text || option.value}}</span>
  </label>
</div>
